@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-display: "Inter", sans-serif;
}

body {
  font-family: var(--font-display);
}

body {
  background-color: #f3f3f3;
}

.blue_border {
  border: 1px solid #2b6cb0;
}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
} */

.salarySpan::selection {
  color: black;
  background-color: transparent;
}

.shadow-right {
  box-shadow: 10px 0 10px rgba(0, 0, 0, 1);
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollable-container {
  overflow-y: auto; /* Enable scrolling */
}

.scrollable-container::-webkit-scrollbar {
  width: 0px;
}

.scrollable-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-button {
  padding: 0.75rem 2.5rem; /* Adjust padding as needed */
  border-radius: 0.5rem; /* Adjust border-radius as needed */
  transition: transform 0.2s;
  font-size: 1rem; /* Adjust font size as needed */
  min-width: 110px; /* Ensure buttons have a minimum width */
  text-align: center; /* Center the text */
  margin: 0 0.5rem; /* Add margin to create space between buttons */
}

.nav-button:hover {
  transform: scale(1.1);
}

.blue_border {
  border: 1px solid #0034D1;
}